@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Archivo+Black&family=Oxanium:wght@200..800&display=swap');

body {
    font-family: 'Oxanium';
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.all{
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}

.img-form {
  margin-top: 5%;
  height: 425px;
}

.quiz-container {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.quiz-header {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Oxanium';
}

.quiz-label {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 8px;
    color: #61dafb;
}

.quiz-select {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #61dafb;
    border-radius: 5px;
    background: #fff;
    font-family: 'Oxanium';
    color: #000;
}

.quiz-input {
    width: 10%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1rem;
    border: 1px solid #61dafb;
    border-radius: 5px;
    background: #fff;
    font-family: 'Oxanium';
    color: #000;
}

/* Botão iniciar */
.quiz-button-form {
    width: 70%;
    padding: 12px;
    margin-bottom: 2%;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    font-family: 'Oxanium';
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(9deg, rgba(97,183,227,1) 0%, rgba(245,245,245,1) 100%);
    cursor: pointer;
    transition: 0.3s;
}

.quiz-button-form:disabled {
    background: #bdbcbc;
    cursor: not-allowed;
}

.quiz-button-form:hover:not(:disabled) {
    background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(97,183,227,1) 100%);
    transform: scale(1.05);
}



@media (max-width: 768px) {
    .quiz-container {
        padding: 20px;
        width: 90%;
    }

    .quiz-header {
        font-size: 1.8rem;
    }

    .quiz-button {
        font-size: 1rem;
    }

    img {
        max-width: 120px;
    }
}

@media (max-width: 480px) {
    .quiz-header {
        font-size: 1.5rem;
    }

    .quiz-button {
        font-size: 0.9rem;
    }

    img {
        max-width: 100px;
    }
}
